asgiref==3.9.1
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==45.0.5
Django==5.2.4
django-allauth==65.10.0
django-cors-headers==4.7.0
django-filter==25.1
djangorestframework==3.16.0
idna==3.10
oauthlib==3.3.1
pycparser==2.22
PyJWT==2.10.1
python-dotenv==1.1.1
requests==2.32.4
requests-oauthlib==2.0.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0
gunicorn==21.2.0
psycopg2-binary==2.9.10

# Data Processing
pandas >= 2.3
numpy >= 2
openpyxl==3.1.5

# Web Scraping & Crawling
beautifulsoup4==4.13.4
selenium==4.35.0
webdriver-manager==4.0.2
fake-useragent==2.2.0
retry==0.9.2
lxml==6.0.0

# Environment Variables
# python-decouple==3.8
